.rent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.rent ul {
    display: flex;   
}

.selected button {
    background-color: white;
    color: var(--main-blue2);
    border: 1px solid var(--main-blue2);
}